<!DOCTYPE html>
<html>
  <head>
    <title>ThursdayActivity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <div id ="header">
    <h1>Inventory List</h1>
  <%= link_to "Vendors", vendors_path %>
  <%= link_to "Prices", prices_path %>
  <%= link_to "Products", products_path %>
  </div>

    <%= yield %>
  </body>
</html>
